<%- include("header") -%>

<div id="wordList">
  <form class="removeWord" action="/deleteWord" method="post">
    <input id="engSide" type="hidden" name="englishSide" value="">
    <input id="spanSide" type="hidden" name="spanishSide" value="">
  <%- wordList %>
  </form>
</div>

<div class="begin-box" style=<%= beginBoxDisplay %>>
  <h3 class="begin-title">You don't have any words yet!</h3>
    <div id="get-started" type="submit" name="get-word-button">
      <svg height="35px" width="35px" viewbox="0 0 160 160">
    <circle cx="80" cy="80" r="70" fill="#ED863A" stroke="#84041A" stroke-width="14"/>
  <line x1="80" y1="45" x2="80" y2="115" stroke="#84041A" stroke-width="14" stroke-linecap="round"/>
  <line x1="45" y1="80" x2="115" y2="80" stroke="#84041A" stroke-width="14" stroke-linecap="round"/>
</svg>
      <span id="started">GET STARTED</span></div>
</div>

<div id="big-plus">
    <svg height="110px" width="110px" viewbox="0 0 160 160">
        <circle cx="80" cy="80" r="70" fill="#ED863A" stroke="#EDD0AE" stroke-width="14"/>
      <line x1="80" y1="45" x2="80" y2="115" stroke="#EDD0AE" stroke-width="14" stroke-linecap="round"/>
      <line x1="45" y1="80" x2="115" y2="80" stroke="#EDD0AE" stroke-width="14" stroke-linecap="round"/>
    </svg>
</div>

<div id="get-word-form" style=<%= wordFormDisplay %>>
  <div id="small-x">
    <svg height="35px" width="35px" viewbox="0 0 160 160">
      <circle cx="80" cy="80" r="70" fill="#FCC27C" stroke="#84041A" stroke-width="14"/>
      <line x1="50" y1="45" x2="110" y2="115" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
      <line x1="50" y1="115" x2="110" y2="45" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
    </svg>
  </div>
  <form id="chooseWord" action="/get-word" method="post">
    <p class="error"><%= error %></p>
    <p>Choose an English or Spanish word:</p>
    <input id="wordInput" type="text" name="wordInput" autofocus>
    <p>This word is:</p>
    <input type="radio" name="englishOrSpanish" id="english" value="english" required>
    <label for="english">English</label>
    <input type="radio" name="englishOrSpanish" id="spanish" value="spanish">
    <label for="spanish">Spanish</label>
    <button id="get-word-go" type="submit" name="get-word-go">Go</button>
  </form>
</div>

<div class="wordChoices" style=<%= displayChoice %>>
  <div id="small-x-choice">
    <svg height="35px" width="35px" viewbox="0 0 160 160">
      <circle cx="80" cy="80" r="70" fill="#FCC27C" stroke="#84041A" stroke-width="14"/>
      <line x1="50" y1="45" x2="110" y2="115" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
      <line x1="50" y1="115" x2="110" y2="45" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
    </svg>
  </div>
  <p>Choose your translation:</p>
  <form id="wordChoosing" action="/word-chosen" method="post">
    <input type="hidden" name="originalWord" value=<%- wordQuery %>>
    <input type="hidden" name="firstLanguage" value=<%- engOrSpan %>>
    <%- wordChoices %>
  </form>
</div>

<div class="confirmWord" style=<%= displayConfirm %>>
  <div id="small-x-confirm">
    <svg height="35px" width="35px" viewbox="0 0 160 160">
      <circle cx="80" cy="80" r="70" fill="#FCC27C" stroke="#84041A" stroke-width="14"/>
      <line x1="50" y1="45" x2="110" y2="115" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
      <line x1="50" y1="115" x2="110" y2="45" stroke="#84041A" stroke-width="15" stroke-linecap="round"/>
    </svg>
  </div>
  <form action="confirm-word" method="post">
    <p class="error"><%= duplicateError %></p>
    <input type="hidden" name="initalLang" value=<%= eOrs %>>
    <input type="hidden" name="originConfirm"  value=<%= original %>>
    <input type="hidden" name="transConfirm"  value=<%= translatedEncoded %>>
    <span class="spanConfirm"><%= original %></span><span>=</span><span class="spanConfirm"><%= translated %></span>
    <button type="submit" class="confirmButton" name="button" style=<%= displayConfirmButton %>>Confirm</button>
  </form>
</div>

<div class="changeAndDelete">
    <div id="accordion">


      <h3>Change Username</h3>
      <div><form class="" action="changeUsername" method="post">
        <p>Your current username: <%= user %></p>
        <label for="newUsername">Enter your new username:</label>
        <input type="text" name="newUsername">
        <button type="submit" name="changeUsername">Change Username</button>
      </form></div>

      <h3>Change Password</h3>
      <div><form class="" action="changePassword" method="post">
        <label for="currentPassword">Enter your current password:</label>
        <input type="password" name="currentPassword">
        <label for="newPassword">Enter your new password:</label>
        <input type="password" name="newPassword">
        <button type="submit" name="changePassword">Change Password</button>
      </form></div>

      <h3>Change Email</h3>
      <div><form class="" action="changeEmail" method="post">
        <p>Your current email: <%= currentEmail %></p>
        <label for="newEmail">Enter your new email:</label>
        <input type="email" name="newEmail">
        <button type="submit" name="changeEmail">Change Email</button>
      </form></div>

      <h3>Delete Account</h3>
      <div><form class="" action="deleteAccount" method="post">
        <button type="submit" name="deleteAccount">Delete Your Account</button>
      </form></div>


    </div>
</div>

<div class="changeConfirmBox" style=<%= changeConfirmBox %>>
  <p><%= confirmMessage %></p>
  <button type="button" name="button">OK</button>
</div>


<div class="spanEngChanger">
  <div class="slider">
    <div class="inner-slider">
        <div class="inner-circle">
      </div>
      <p class="slider-text">english</p>
    </div>
  </div>

  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="logged-footer">
  <span class="footers logged-status">Logged in as <%= user %></span>
  <form class="" action="/logout" method="POST">
    <button class="footers log-out" type="submit" name="button">Log Out</button>
  </form>
</div>

<%- include("footer") -%>
